<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="../styles/style.css" rel="stylesheet" type="text/css" />
    <link href="../styles/animation.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {{ content }}
    <div id="wave1" class="wave keyframe-animation-4">
        <div>-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-</div>
        <div>_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=</div>
        <div>-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-</div>
        <div>=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_</div>
    </div>
    <div id="wave2" class="wave keyframe-animation-4">
        <div>-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-</div>
        <div>_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=</div>
        <div>-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-</div>
        <div>=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_</div>
    </div>
    <div id="wave3" class="wave keyframe-animation-4">
        <div>-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-</div>
        <div>_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=</div>
        <div>-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-</div>
        <div>=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_</div>
    </div>
    <div id="wave4" class="wave keyframe-animation-4">
        <div>-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-</div>
        <div>_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=</div>
        <div>-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-</div>
        <div>=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_</div>
    </div>
    <div id="wave5" class="wave keyframe-animation-4">
        <div>-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-</div>
        <div>_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=</div>
        <div>-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-</div>
        <div>=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_-=-_</div>
    </div>
    <div id="shootingstar1" class="shootingstar keyframe-animation-13-26">
        <pre>      </pre>
        <pre>-     </pre>
        <pre>--    </pre>
        <pre>---   </pre>
        <pre>----  </pre>
        <pre>----- </pre>
        <pre>------</pre>
        <pre> -----</pre>
        <pre>  ----</pre>
        <pre>   ---</pre>
        <pre>    --</pre>
        <pre>     -</pre>
        <pre>      </pre>
    </div>
    <div id="shootingstar2" class="shootingstar keyframe-animation-13-26">
        <pre>      </pre>
        <pre>-     </pre>
        <pre>--    </pre>
        <pre>---   </pre>
        <pre>----  </pre>
        <pre>----- </pre>
        <pre>------</pre>
        <pre> -----</pre>
        <pre>  ----</pre>
        <pre>   ---</pre>
        <pre>    --</pre>
        <pre>     -</pre>
        <pre>      </pre>
    </div>
    <div id="shootingstar3" class="shootingstar keyframe-animation-13-26">
        <pre>      </pre>
        <pre>-     </pre>
        <pre>--    </pre>
        <pre>---   </pre>
        <pre>----  </pre>
        <pre>----- </pre>
        <pre>------</pre>
        <pre> -----</pre>
        <pre>  ----</pre>
        <pre>   ---</pre>
        <pre>    --</pre>
        <pre>     -</pre>
        <pre>      </pre>
    </div>
    <div id="shootingstar4" class="shootingstar keyframe-animation-13-26">
        <pre>      </pre>
        <pre>-     </pre>
        <pre>--    </pre>
        <pre>---   </pre>
        <pre>----  </pre>
        <pre>----- </pre>
        <pre>------</pre>
        <pre> -----</pre>
        <pre>  ----</pre>
        <pre>   ---</pre>
        <pre>    --</pre>
        <pre>     -</pre>
        <pre>      </pre>
    </div>
</body>
</html>